* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    font-family: sans-serif;
}

.intro {
    width: 100%;
    height: 100%;
    max-height:517px;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
}

.intro-bg {
    height: 100%;
    width: 100%;
    background: url(../images/BricolabsWide-1200.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    position: absolute;
}

.intro-placeholder {
    position: relative;
    width: 100%;
    height: 100%;
    max-height:517px;
}

header {
    position: fixed;
    height: 70px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 900;
}

.menu-bg {
    height: 70px;
    width: 100%;
    position: absolute;
    background-color: #f4f4f4;
    display: none;
    top: 0;
    left: 0;
    z-index: -1;
}

.menu-desktop li {
    display: inline;
    padding: 0 10px;
    line-height: 70px;
    font-family: sans-serif;
}
#main-menu {
    color: #fff;
}

.menu-dark {
    color: #000 !important;
    border-bottom: solid 1px;
}

#main-menu a {
    color: inherit;
    text-decoration: none;
}

#main-menu a:hover {
    text-decoration: underline;
}

.menu-desktop {
    float: right;
    margin-right: 40px;
}

#logo {
    position: relative;
    margin-top: 70px;
    width: auto;
    height: 70%;
    max-height: 396px;
}

.logo-mini {
    display: none;
    margin: 3px 0 0 40px;
}

.desc-wrapper {
    display: table;
    margin: 0 auto;
    max-width: 1400px;
    width: 90%;
}

.desc-image {
    display: table-cell;
    margin-right: 90px;
    -webkit-box-shadow: 3px 4px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 20px 0px rgba(0,0,0,0.75);
}

.desc-text {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 1.01em;
    font-family: sans-serif;
}

.desc-wraper:after {
    content: "\0020";
    clear: both;
}

#video-bricolabs{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.video {
    position: relative;
}

.twitter {
    display: table-cell;
}

.facebook {
    background-color: #00f;
    height: 350px;
    width: 350px;
    display: table-cell;
    vertical-align: middle;
}

.media-wrapper {
    display: table;
    margin: 0 auto;
    height: 354px;
    width: 800px;
}

.content {
    background-color: #645B5B;
    width:100%;
    position: relative;
    z-index: 100;
    padding: 70px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.proto-bg {
    width: 100%;
    position: relative;
    background-attachment: fixed !important;
}

.proto {
    width: 100%;
    overflow: hidden;
}

.img-container {
    height: 234px;
    width: 350px;
    float: left;
    margin: 20px 20px;
    cursor: pointer;
}

.img-container img {
    position: relative;
    top: -234px;
    -webkit-box-shadow: 3px 4px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 20px 0px rgba(0,0,0,0.75);
}

.img-description {
    background-color: #2C2F2F;
    color: #fff;
    height: 234px;
    width: 350px;
    text-align: center;
}

.desc-title {
    padding: 40px 5px;
    font-size: 1.5em;
    font-weight: bolder; 
}

.proyects-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.show-menu {
    display: none;
    float: right;
    width: 40px;
    height: 40px;
    margin: 15px;
    background: url(../images/menu.png) no-repeat center center;
    cursor: pointer;
}

.close-menu {
    background: url(../images/close.png) no-repeat center center !important;
    cursor: pointer;
}

.menu-mobile {
    display: none;
    position: fixed;
    top: 70px;
    width: 100%;
    background-color: #f4f4f4;
    text-align: center;
    color: #000;
}

.menu-mobile li{
    margin: 1.5em 0;
}

.image-fullscreen {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1001;
    top: 0;
    text-align: center;  
}

.shadow {
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #000;
    top: 0;
}

.image-fullscreen img{
    margin-top: 100px;
    max-width: 90%;
    max-height: 90%;
}

.close-image {
    float: right;
    margin:20px;
    background: url(../images/close-white.png) no-repeat center center;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

footer {
    height: 80px;
    width: 100%;
    background-color: #ccf;
    text-align: center;
    padding-top: 30px;
}

footer img {
    width: 35px;
    padding: 5px;
    display: inline;
}

@media screen and (max-width: 1170px) {
    .proyects-wrapper {
        max-width: 780px;
   }
}

@media screen and (max-width: 780px) {
    .proyects-wrapper {
        max-width: 390px;
   }
}

@media screen and (max-width: 900px) {
    .desc-image {
       width: 100%;
       display: block;
       margin-bottom: 40px;
     }
     
     .media-wrapper {
         width: 350px;
         height: 700px;
     }
     
     .twitter, .facebook, .desc-text, .menu-bg, .logo-mini {
         display: inline;
     }
     
     .show-menu {
         display: inline;
     }
         
     #video-bricolabs, .menu-desktop {
        display: none;
     }
}

@media screen and (max-width: 320px) {
    .intro-bg {
        background: url(../images/BricolabsWide-320.jpg) no-repeat center center;
    }
    
    .intro-placeholder, .intro, .intro-bg {
        max-height: 200px;
    }
    
    .video, .proto {
        height: 250px;
    }
    
    .video {
        background: url(../images/bricolabs-taller-320.jpg) no-repeat center center;
    }
    
    .proto-bg {
        background: url(../images/bricolabs-proto-320.jpg) no-repeat center bottom;
        background-attachment: scroll !important;
        height: 240px;
    }
}

@media screen and (max-width: 768px) and (min-width: 321px){
    .intro-bg {
        background: url(../images/BricolabsWide-768.jpg) no-repeat center center;
    }
    
    .intro-placeholder, .intro, .intro-bg {
        max-height: 300px;
    }
    
    .video, .proto {
        height: 250px;
    }
    
    .video {
        background: url(../images/bricolabs-taller-768.jpg) no-repeat center center;
    }
    
    .proto-bg {
        background: url(../images/bricolabs-proto-768.jpg) no-repeat center bottom;
        background-attachment: scroll !important;
        height: 576px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px){
    .intro-bg {
        background: url(../images/BricolabsWide-1024.jpg) no-repeat center center;
    }
    
    .intro-placeholder, .intro, .intro-bg {
        max-height: 400px;
    }
    
    .video, .proto {
        height: 350px;
    }
    
    .video {
        background: url(../images/bricolabs-taller-1024.jpg) no-repeat center center;
    }
    
    .proto-bg {
        background: url(../images/bricolabs-proto-1024.jpg) no-repeat center bottom;
        height: 768px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1025px){
    .intro-bg {
        background: url(../images/BricolabsWide-1200.jpg) no-repeat center center;
    }
    
    .video, .proto {
        height: 400px;
    }
    
    .video {
        background: url(../images/bricolabs-taller-1200.jpg) no-repeat center center;
    }
    
    .proto-bg {
        background: url(../images/bricolabs-proto-1200.jpg) no-repeat center bottom;
        height: 900px;
    }
}

@media screen and (min-width: 1201px){
    .intro-bg {
        background: url(../images/BricolabsWide-1600.jpg) no-repeat center center;
        background-size: cover;
    }
    
    .video, .proto {
        height: 450px;
    }
    
    .video {
        background: url(../images/bricolabs-taller-1600.jpg) no-repeat center center;
    }
    
    .proto-bg {
        background: url(../images/bricolabs-proto-1600.jpg) no-repeat center bottom;
        background-size: cover;
        height: 1200px;
    }
}
